body {
  padding: 50px;
  font: 20px/150% "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
  color: #666;
  background: #fcfcfc;
}
input,
textarea,
button {
  font: inherit;
}
/*@font-face {*/
/*font-family: 'Material Icons';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*src:url(/assets/iconfont/MaterialIcons-Regular.eot); [> For IE6-8 <]*/
/*src:local('Material Icons'),*/
/*local('MaterialIcons-Regular'),*/
/*url(/assets/iconfont/MaterialIcons-Regular.woff2) format('woff2'),*/
/*url(/assets/iconfont/MaterialIcons-Regular.woff) format('woff'),*/
/*url(/assets/iconfont/MaterialIcons-Regular.ttf) format('truetype');*/
/*}*/
/*.material-icons {*/
/*font-family: 'Material Icons';*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*font-size: 24px;  [> Preferred icon size <]*/
/*display: inline-block;*/
/*width: 1em;*/
/*height: 1em;*/
/*line-height: 1;*/
/*text-transform: none;*/
/*letter-spacing: normal;*/
/*word-wrap: normal;*/
/*-webkit-font-smoothing: antialiased;*/
/*text-rendering: optimizeLegibility;*/
/*-moz-osx-font-smoothing: grayscale;*/
/*font-feature-settings: 'liga';*/
/*}*/
html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
}
body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  /*color:#fff;*/
  margin: 0;
  padding: 0;
}
#site-wrapper {
  max-width: 640px;
  /*max-width:100%;*/
  margin: 0 auto;
  height: 100%;
  position: relative;
  /*background:black;*/
}
.md-36 {
  width: 36px;
  height: 36px;
}
.md-48 {
  opacity: 0.6;
  width: 48px;
  height: 48px;
}
.md-40 {
  opacity: 0.6;
  width: 40px;
  height: 40px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
a:hover {
  opacity: 0.5;
}
a,
a:active,
a:visited {
  text-decoration: none;
}
