
 
<button ng-click="click('like')" ng-style="{'background':'url(visuals/grid/icon/like.svg) no-repeat','z-index':2, 'border':'0px', 'background-position':'center','background-size':'cover',width:'40px', height:'40px',position:'relative'}"></button>

<button ui-sref=".comment" ng-click="click('comment')" ng-style="{'background': 'url(visuals/grid/icon/comment.svg)no-repeat','z-index':2,'border':'0px', 'background-size':'cover', 'background-position':'center',width:'40px', height:'40px','margin-top':'10px',position:'relative','z-index':2}"></button>

<button  ui-sref=".moreinfo" ng-click="click('showmoreinfo')" ng-style="{'background': 'url(visuals/grid/icon/share.svg) no-repeat','z-index':2,'border':'0px', 'background-position':'center','background-size':'cover',width:'40px', height:'40px', 'margin-top':'10px',position:'relative','z-index':2}"></button>

