<div ng-if="!online" style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:1;">
  <div style="display:table;width:100%;height:100%;">
    <div style="display:table-cell;width:100%;height:100%;vertical-align:middle;">
      <div style="width:100%;padding-bottom:100%;position:relative">
        <div style="width:100%;height:100%;position:absolute;top:0;left:0;">
          <img  src="/assets/images/hardware_offline_250dp.png" style="padding:0 100px 20px;width:100%;height:auto;z-index:1;opacity:1;" />
          <h5 class="text-center">页面过期，请重新扫码.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="online" style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:1;background-image:url('{{layoutInfo.product.cover.url}}?imageView2/2/w/500/h/500/interlace/1');background-size:cover;background-position:center center;background-repeat:no-repeat;">
  <div style="display:table;width:100%;height:100%;">
    <div style="display:table-cell;width:100%;height:100%;vertical-align:middle;">
      <div class="form-group" style="margin-bottom:0px;">
        <div class="col-lg-12">
          <span class="help-block" style="font-weight:bold;">说点你对 {{layoutInfo.product.name}} 看法:</span>
          <textarea ng-model="comment" class="form-control" rows="5" id="textArea" style="background-color: rgba(255,255,255,0.5);font-size:20px;"></textarea>
          <span ng-if="!comment || (comment.length>=2 && comment.length<=30)" class="help-block" style="color:red;font-size:10px;margin-bottom:0px;">&nbsp;</span>
          <span ng-if="comment && comment.length<2" class="help-block" style="color:red;font-size:10px;margin-bottom:0px;">过于简短</span>
          <span ng-if="comment && comment.length>30" class="help-block" style="color:red;font-size:10px;margin-bottom:0px;">太长，不合适</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2 text-center">
          <button ui-sref="visuals.grid.navigation" type="reset" class="btn btn-default">取消</button>
          <button ng-if="!comment || comment.length<2 || comment.length>30" type="submit" class="btn btn-disabled">提交</button>
          <button ng-if="comment && comment.length>=2 && comment.length<=30" ng-click="sendComment(comment)" type="submit" class="btn btn-primary">提交</button>
        </div>
      </div>
    </div>
  </div>
</div>
