<md-toolbar style="position:absolute;bottom:0;left:0;">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-3">
      <md-button class="md-icon-button" aria-label="Back" ng-click="starThis=!starThis;">
        <md-icon ng-if="!starThis" md-svg-icon="/assets/icons/ic_favorite_border_48px.svg" class="md-36"></md-icon>
        <md-icon ng-if="starThis" md-svg-icon="/assets/icons/ic_favorite_48px.svg" class="md-36"></md-icon>
      </md-button>
    </div>
    <div class="col-xs-2">
      <md-button class="md-icon-button" aria-label="Back">
        <md-icon md-svg-icon="/assets/icons/ic_textsms_48px.svg" class="md-36"></md-icon>
      </md-button>
    </div>
    <div class="col-xs-2">
      <md-button class="md-icon-button" aria-label="Back">
        <md-icon md-svg-icon="/assets/icons/ic_send_48px.svg" class="md-36"></md-icon>
      </md-button>
    </div>
  </div>
</md-toolbar>
